body {
    margin: 0;
    padding: 0;
}

header > h1 {
    margin: 0;
    background-color: #99cc00;
}

.container {
    margin: 1em;
    padding: 0;
    text-align: left;
}

#query_area {
    resize: none;
    width: 90vw;
    height: 30vh;
    border: solid 1px #ccc;
}

button#send {
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    background-color: lightblue;
}

#suggest {
    margin: 10px auto;position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    width: 400px;
    height:200px;
    overflow: auto;
  }
  #suggest div {
    margin: 10px auto;
padding: 1px;
    display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
  }
  #suggest div.select{
    color: #FFFFFF;
    background-color: #3366FF;
  }
  #suggest div.over{
    background-color: #99CCFF;
  }
  #suggest strong{
    font-weight: bold;
  }
